{%extends 'base.html'%} {#将当前页面继承至base.html模板中#}
{%block content%}
<!--主页-->
<div class="container article-detail">
    <div class="row">
        <div class="col-sm-9 col-12">
            <div class="col-12 row article-detail" style="margin-bottom: 0px">
                <div class="col-9 title">
                    {{article.headline}}
                </div>
                <div class="col-3 favorite">
                    {% if is_favorite ==True %}
                    <label class="cancel-btn" onclick="cancelFavorite('{{article.articleid}}')"><span class="iconfont">&#xe6d3;</span>&nbsp;&nbsp;已收藏</label>
                    {% else %}
                    <label class="favorite-btn" onclick="addFavorite('{{article.articleid}}')"><span class="iconfont">&#xe7bb;</span>&nbsp;&nbsp;收藏本文</label>
                    {% endif %}
                </div>
                <div class="col-12 info">
                    作者&nbsp;:&nbsp;{{article.nickname}}&nbsp;&nbsp;&nbsp;&nbsp;
                    日期&nbsp;:&nbsp;{{article.createTime}}&nbsp;&nbsp;&nbsp;
                    阅读次数&nbsp;:&nbsp;{{article.readCount}}&nbsp;&nbsp;&nbsp;消耗积分&nbsp;:&nbsp;{{article.credit}}
                </div>
                <div class="col-12 content div-fix" id="content">
                    {{article.content | safe}}
                </div>
            </div>
            {%if article.credit>0 and payed ==False %}
            <div class="col-12 readall">
                {%if session.get('islogin')=='true'%}
                <button class="col-sm-10 col-12" onclick="readall()">
                    <span class="iconfont">&#xe7c5;</span>&nbsp;&nbsp;&nbsp;阅读全文&nbsp;&nbsp;&nbsp;消耗积分&nbsp;:&nbsp;&nbsp;{{article.credit}}
                </button>
                {% else %}
                <button class="col-sm-10 col-12" onclick="showLogin()">
                    <span class="iconfont">&#xe7c5;</span>&nbsp;&nbsp;&nbsp;您还未登录，登陆后可阅读全文
                </button>
                {% endif %}
            </div>
            {% endif %}
            <div class="col-12 article-nav div-fix">
                版权所有，转载本站文章请注明出处。
                <div>上一节：<a href="/article/{{prev_next.prev_id}}">{{prev_next.prev_headline}}</a></div>
                <div>下一节：<a href="/article/{{prev_next.next_id}}">{{prev_next.next_headline}}</a></div>
            </div>
            <!--评论-->
            <div class="col-12 article-comment div-fix">
                <div class="col-12 row">
                    <label for="nickname" style="padding: 10px">昵称</label>
                    <div class="col-10" style="padding-right: 0px">
                        <input type="text" id="nickname" class="form-control"/>
                    </div>
                </div>
                <div class="col-12 row">
                    <label for="comment" style="padding: 10px">评论</label>
                    <div class="col-10" style="padding-right: 0px">
                        <textarea class="form-control" id="comment" style="height:100px"></textarea>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-12" style="text-align:right;padding-top:20px">
                        <button class="btn btn-primary">发表</button>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function readall() {
            var param = 'articleid={{article.articleid}}&position={{position}}';
            $.post('/readall', param, function (data) {
                $("#content").append(data);
                $(".readall").hide()
            })
        }

        function addFavorite(articleid) {
            $.post('/favorite', 'articleid=' + articleid, function (data) {
                    if (data == 'not-login') {
                        bootbox.alert({'title': "错误提示", "message": "您还没有登录，不能收藏文章"});
                    } else if (data == 'favorite-pass') {
                        bootbox.alert({'title': "信息提示", "message": "收藏成功，可在我的收藏中查看"});
                        //修改菜单为感谢收藏
                        $(".favorite-btn").html("<span class=\"iconfont\">&#xe6d3;</span>&nbsp;&nbsp;感谢收藏")
                        //取消收藏按钮的单击事件
                        $(".favorite-btn").attr('onclick', '').unbind('click')
                    } else {
                        bootbox.alert({'title': "错误提示", "message": "收藏文章失败，请联系管理员"});
                    }

                }
            )
        }

        function cancelFavorite(articleid) {
            $.ajax({
                url: '/favorite/' + articleid,
                type: 'delete',
                success: function (data) {
                    if (data == 'not-login') {
                        bootbox.alert({'title': "错误提示", "message": "您还没有登录，不能收藏文章"});
                    } else if (data == 'cancel-pass') {
                        bootbox.alert({'title': "信息提示", "message": "取消收藏成功"});
                        //修改菜单为感谢收藏
                        $(".cancel-btn").html("<span class=\"iconfont\">&#xe7bb;</span>&nbsp;&nbsp;取消收藏")
                        //取消收藏按钮的单击事件
                        $(".cancel-btn").attr('onclick', '').unbind('click')
                    } else if (data == 'cancel-fail') {
                        bootbox.alert({'title': "错误提示", "message": "取消收藏失败，请联系管理员"});
                    }
                }
            });
        }
    </script>
    {%include 'side.html'%}
    {%endblock%}