<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>鲸鱼blog</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/WhaleBLOG.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/js/iconfont.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/whaleblog.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

</head>
<body>
<!--顶部logo区域-->
<div class="header">
    <div class="container" style="height:80px">
        <div class="row">
            <div class="col-5"><img src="/img/WhaleBLOG.png" width="220"></div>
            <div class="col-7 d-none d-sm-block" style="text-align:right;padding-top: 15px;font-size: 30px"><strong>一念山河成，一念百草生</strong>
            </div>
            <div class="col-7 d-sm-none" style="text-align:right;padding-top: 23px;font-size: 20px">
                <strong>一鲸落万物生</strong></div>
        </div>
    </div>
</div>
<!--导航栏-->
<div class="menu">
    <div class="container" style="padding: 0px">
        <nav class="navbar navbar-expand-lg navbar-dark menu-bar" style="background-color: #7735fa">
            <a class="navbar-brand">快捷导航</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link " href="/">主页</a>
                    <a class="nav-item nav-link " href="/article">博客</a>
                    <a class="nav-item nav-link " href="/type/3-1">个人</a>
                    <a class="nav-item nav-link " href="/type/4-1">悄悄话</a>
                </div>
                <div class="navbar-nav ml-auto">
                    {% if session.get('islogin')=='true'%}
                    <a class="nav-item nav-link " href="#">你好,{{session.get('nickname')}}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="nav-item nav-link " href="#">用户中心</a>
                    <a class="nav-item nav-link " href="/logout">注销</a>
                    {%else%}
                    <a class="nav-item nav-link " href="#" onclick="showLogin()">登录</a>
                    <a class="nav-item nav-link " href="#" onclick="showReg()">注册</a>
                    {%endif%}
                </div>
            </div>
        </nav>
    </div>
</div>
<!--主页-->
<div class="container">
    <div class="row">
        {% block content%}
        {% endblock%}
    </div>
</div>
<!--底部导航栏-->
<div class="text-muted container-fluid footer navBottom">
    <div class="container">
        <p class="float-right" id="backToTopLink" onclick="gotoTop()"">
        回到顶部
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    </div>
</div>
<!--登录窗口-->
<div class="modal fade-half modal-open" id="LoginPanel" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="loginlabel" aria-hidden="true" style="border-radius: 0px;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 11px;">
            <div class="modal-header"
                 style="background-color: #7735fa;border-radius: 0px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <h5 class="modal-title" id="loginlabel" style="color:white;font-weight: bold">登录</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="height: 150px;">
                    <div class="col-12 row" style="margin:10px">
                        <div class="col-3 ml-auto">
                            <label for="logname">用户名</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text" id="logname"/>
                        </div>
                    </div>
                    <div class="col-12 row" style="margin:10px">
                        <div class="col-3 ml-auto">
                            <label for="logpass">密码</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text" id="logpass"/>
                        </div>
                    </div>
                    <div class="col-12 row" style="margin:10px">
                        <div class="col-3 ml-auto" style="padding:0px">
                            <label for="logcode">验证码</label>
                        </div>
                        <div class="col-5">
                            <input class="form-control" type="text" id="logcode"onkeyup="doLogin(event)"/>
                        </div>
                        <div class="col-4">
                            <ul id='vcode' style="padding: 0px;margin:0px"></ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:20px 10px">
                        <button type="button" class="btn btn-secondary" style="background-color:#7735fa" onclick="doLogin(null)">登录</button>
                        <div class=" ml-auto">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary"
                                    data-toggle="modal" data-target="#RegisterPanel" data-dismiss="modal"
                                    style="background-color:#7735fa">没有账号？点我注册
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<!--注册窗口-->
<div class="modal fade modal-open" id="RegisterPanel" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="registerlabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 11px">
            <div class="modal-header"
                 style="background-color: #7735fa;border-radius: 0px;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <h5 class="modal-title" id="registerlabel" style="color:white;font-weight: bold">注册</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12 row" style="margin:10px">
                    <div class="col-3 ml-auto">
                        <label for="regname">邮箱</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" id="regname"/>
                    </div>
                </div>
                <div class="col-12 row" style="margin:10px">
                    <div class="col-3 ml-auto">
                        <label for="regnick">昵称</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" id="regnick"/>
                    </div>
                </div>
                <div class="col-12 row" style="margin:10px">
                    <div class="col-3 ml-auto">
                        <label for="regpass">密码</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" id="regpass"/>
                    </div>
                </div>
                <div class="col-12 row" style="margin:10px">
                    <div class="col-3 ml-auto" style="padding:0px">
                        <label for="regcode">验证码</label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" type="text" id="regcode" onkeyup="doReg(event)"/>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-secondary" style="background-color: #7735fa;"
                                onclick="dosendMail(this)">
                            验证码发送
                        </button>
                    </div>
                </div>
                <div class="row" style="padding:20px 10px">
                    <button type="button" class="btn btn-secondary" style="background-color: #7735fa;"
                            onclick="doReg(null)">注册
                    </button>
                    <div class=" ml-auto">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // 在模态框显示之前添加事件监听器
        $('#LoginPanel').on('show.bs.modal', function () {
            // 调用 .modal('handleUpdate') 方法以手动触发模态框的更新
            $(this).modal('handleUpdate');
        });
        // 获取模态框对象
        var loginModal = $('#LoginPanel');
        // 当模态框显示时触发事件
        loginModal.on('shown.bs.modal', function () {
            // 获取验证码图片的函数
            function getVcodeImage() {
                fetch('/vcode')
                    .then(response => response.blob())
                    .then(blob => {
                        // 将获取到的 blob 对象转换为图片 URL
                        const imgUrl = URL.createObjectURL(blob);

                        // 将图片 URL 插入到页面中的特定位置
                        const vcodeElement = document.getElementById('vcode');
                        const imgElement = document.createElement('img');
                        imgElement.src = imgUrl;
                        imgElement.addEventListener('click', getVcodeImage); // 给图片添加点击事件

                        // 清空 ul 元素并插入图片元素
                        vcodeElement.innerHTML = '';
                        vcodeElement.appendChild(imgElement);
                    })
                    .catch(error => {
                        console.error('Error fetching vcode:', error);
                    });
            }

            // 初始加载验证码图片
            getVcodeImage();
        });
    });


</script>
</body>
</html>