{%extends 'base.html'%} {#将当前页面继承至base.html模板中#}
{%block content%}
<div class="col-sm-9 col-12" style="border:none;padding:0px">
    {%for article, user in result%}
    <div class="col-12 row article-list">
        <div class="col-sm-3 col-3 thumb d-none d-sm-block">
            <img src="/img/ArticleThumb/{{article.thumbnail}}" " class="img-fluid"/>
        </div>
        <div class="col-sm-9 col-xs-12 detail">
            <div class="title"><a href="/article/{{article.articleid}}">{{article.headline}}</a></div>
            <div class="info">作者:&nbsp;&nbsp;&nbsp;{{user.username}}&nbsp;&nbsp;&nbsp;
                阅读次数:&nbsp;&nbsp;&nbsp;{{article.readcount}}&nbsp;&nbsp;&nbsp;
                日期:&nbsp;&nbsp;&nbsp;{{article.createtime}}
            </div>
            <div class="intro">
                {{article.content|striptags|truncate(160)}}
            </div>
        </div>
    </div>
    {%endfor%}
    <div class="col-12 paginate">
        {%if page ==1%}
        <a href="/search/1-{{keyword}}">上一页</a>&nbsp;&nbsp;&nbsp;
        {%else%}
        <a href="/search/{{page-1}}-{{keyword}}">上一页</a>&nbsp;&nbsp;&nbsp;
        {%endif%}
        {%for i in range(total)%}
        <a href="/search/{{i+1}}-{{keyword}}">{{i+1}}</a>&nbsp;&nbsp;
        {%endfor%}
        {%if page ==total%}
        <a href="/search/{{total}}-{{keyword}}">下一页</a>
        {%else%}
        <a href="/search/{{page+1}}-{{keyword}}">下一页</a>
        {%endif%}
    </div>

</div>
{%include 'side.html'%}
{%endblock%}

